@import url('https://fonts.cdnfonts.com/css/google-sans');

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  font-family: "Product Sans";
  margin: 0;
  padding: 0;
}

#kb{
  display: flex;
}

main {
  display: flex;
  justify-content: center;
}

#card{
  max-width: 600px;
}